.navbar {
    display: flex;
    overflow-y: hidden; 
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: white;

    position: sticky; 
}


.navbar--options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar--options  h1 {
    margin: 1rem;
    font: Roboto; 
    color: #2E3440;  
}

.navbar--options  h1:hover {
    margin: 1rem;
    font: Roboto; 
    color: #656f7d;  
}

.user-holder { 
    display: flex; 
    flex-direction: row;
}

.profile-icon {
    width: 100%; 
    display: flex; 
    flex-direction: column;
    justify-items: center;
    overflow-x: hidden;
    padding-left: 0.5rem;
}


.profile-icon p {
    margin: auto; 
    font-weight: bold;
    color: #2E3440;  
}

.profile-icon img {
    width: 32px; 
    margin: auto
}


.logout {
    width: 32px; 
    margin: auto; 
    padding: 0 2rem; 
}
