<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        h1, h3, p{
            font-family: sans-serif;
        }
    </style>

    <meta charset="UTF-8">
</head>

<body>
<div class="es-wrapper-color">
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td class="esd-email-paddings" valign="top">
                <table class="es-header esd-header-popover" cellspacing="0" cellpadding="0" style="margin-left:auto; margin-right:auto;">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" esd-custom-block-id="6339" style="background-color: #d8dee9; height: 4em;">
                            <table class="es-header-body" width="600" cellspacing="0" cellpadding="0" style="border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid transparent;border-bottom:10px solid transparent;">
                                <tbody>
                                <tr>
                                    <td class="esd-structure es-p35t es-p5b es-p10r">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="570" valign="top">
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td id="cryptukiLogo" class="esd-block-image" >
                                                                <a target="_blank"><img class="adapt-img" src="https://wbdvgq.stripocdn.email/content/guids/CABINET_4872a038cbaa5261a73e6bf5461bd563/images/logo.png" alt style="display: block;" width="145"></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="es-content" cellspacing="0" cellpadding="0" style="margin-left:auto; margin-right:auto;">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" style="background-color: #ffffff;" esd-custom-block-id="6340">
                            <table class="es-content-body" style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="esd-structure">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="600" valign="top">
                                                    <table style="background-color: #ffffff; border-radius: 4px; border-collapse: separate;" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-text es-p35t es-p5b es-p30r es-p30l" style="text-align: center;">
                                                                <h1><span th:text="#{tradeClosed.title}">¡Trade Finalizada!</span></h1>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="es-content" cellspacing="0" cellpadding="0" style="margin-left:auto; margin-right:auto;">
                    <tbody>
                    <tr>
                        <td class="esd-stripe">
                            <table class="es-content-body" style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="esd-structure">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="600" valign="top">
                                                    <table style="border-radius: 4px; border-collapse: separate; background-color: #ffffff;" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-text es-m-txt-l es-p20t es-p40b es-p30r es-p30l">
                                                                <p><b><span th:text="#{hello}">Hola</span> <span th:text="${username}">usuario</span></b></p>
                                                                <p><span th:text="#{theTradeWith}">La trade con</span> <span th:text="${buyer}">comprador</span> <span th:text="#{for}">por</span> <span th:text="${quantity}"></span> <span th:text="${coinCode}"></span> <span th:text="#{finished}">ha finalizado.</span></p>
                                                                <p><span th:text="#{transferToWallet}">Deberás transferir el monto acordado a la wallet</span> <span th:text="${wallet}">wallet</span> <span th:text="staticWriteToEmail">o escribirle a su mail</span> <span th:text="${buyerEmail}">email</span>.</p>
                                                                <p><span th:text="#{detailsWithLink}">Puedes ver los detalles del recibo a través de tu cuenta o entrando al siguiente link</span>:</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="esd-block-button es-p35t es-p35b es-p10r es-p10l" style="text-align: center; padding-bottom: 20px;">
                                                                                        <span class="es-button-border" style="border-color: #8ed3d5; background: #8ed3d5;">
                                                                                            <a th:href="${receitpLink}" class="es-button es-button-1650637516164" target="_blank" style="border-width: 15px 30px; background: #8ed3d5; border-color: #8ed3d5;">
                                                                                                <span th:text="#{receipt}">Recibo</span>
                                                                                            </a>
                                                                                        </span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="es-content" cellspacing="0" cellpadding="0" style="margin-left:auto; margin-right:auto;">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" >
                            <table class="es-content-body" style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" >
                                <tbody>
                                <tr>
                                    <td class="esd-structure" >
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="600" valign="top" >
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-spacer es-p10t es-p20b es-p20r es-p20l"  style="font-size:0">
                                                                <table width="100%" height="100%" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="border-bottom: 1px solid #f4f4f4; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: 1px; width: 100%; margin: 0px;"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="es-content esd-footer-popover" cellspacing="0" cellpadding="0"  style="margin-left:auto; margin-right:auto;">
                    <tbody>
                    <tr>
                        <td class="esd-stripe" esd-custom-block-id="6341" stlye="text-align:center;">
                            <table class="es-content-body" style="background-color: transparent; text-align: center;" width="600" cellspacing="0" cellpadding="0" >
                                <tbody>
                                <tr>
                                    <td class="esd-structure" >
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="600" valign="top" >
                                                    <table style="background-color: #d8dee9; border-radius: 4px; border-collapse: separate;" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td class="esd-block-text es-p30t es-p25b es-p30r es-p30l"  esd-links-color="#111111" style="padding-bottom: 15px;">
                                                                <a class="esd-anchor" name="http://locahost:8080/webapp/contact" style="color: #111111;"></a>
                                                                <h3 style="color: #111111; margin-bottom: 0"><span th:text="#{needMoreHelp}">¿Necesitas más ayuda?</span></h3>
                                                                <a href="http://locahost:8080/webapp/contact" style="text-align: center; color: #000000; margin-top: 0;"><span th:text="#{writeUs}">Escríbenos</span></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>